@font-face {
    font-family: 'Digital7';
    src: url('assets/fonts/Digital7-rg1mL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html{
    background-color: 	#090011;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
body {
    font-family: 'Digital7', sans-serif;
  }

.title{
    position: relative;
    font-size: 45px;
    font-weight: bold;
    top: 10vh;
    left: 38.7vw;
    color: #c0d6e4;
    font-family:"Cascadia Code",sans-serif;
    text-decoration: none;
    text-transform: uppercase;
  }

.num1, .num2{
    height: 3.5rem;
    width: 4.5rem;
    background-color: #ffffff;
    border: none;
    color: #262a2d;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    margin:0.3em;
    font-family:'Cascadia Code',sans-serif;
    font-weight:bold;
    transition: all 0.2s;
}
[type="zero"]{
    height: 3.5rem;
    width: 10rem;
}
[type="clear"]{
    background-color: #d9534f;
}
[type="percentage"]{
    background-color: #f0ad4e;
}
[type="equals"]{
    background-color: #5bc0de;
}
[name="expression"]{
    position: relative;
    top: 1vh;
    height: 3.5rem;
    width: 21.5rem;
    background-color: #c7d3c5;
    border: none;
    color: #262a2d;
    padding: 10px 0px;
    text-align: left;
    padding-left: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    margin:0.3em;
    font-family:sans-serif;
    font-weight:bold;
    transition: all 0.2s;
}
.result{
    position: fixed;
    top: 4.8%;
    left:75%;
    height: 4rem;
    width: 3rem;
    text-align: right;
    margin:0.3em;
    border-radius:20px;
    text-decoration:none;
    font-size: 20px;
    font-family:sans-serif;
    font-weight:bold;
    color:#000000;
    background-color:#c7d3c5;
    transition: all 0.2s;
    outline: none;
    border: none;
  }

  
  .column {
    position:absolute;    
    left: 50%;
    top: 50%;
    width: 20%;
    height: 50%;
    position:absolute;
    margin-bottom: 16px;
    padding: 5px 19px;
    box-shadow: 0 1px 28px 0 rgba(236, 227, 227, 0.2);
    margin: 10px;
    text-align: center;
    border-radius:20px;
    transform: translate(-50%, -50%);
  }

  .card{
    position: relative;
    top: 1vh;
  }

  h5{
    position: relative;
    font-size: 11px;
    font-weight: bold;
    top: -1.5vh;
    left: 0vw;
    color: #c0d6e4;
    font-family:"Cascadia Code",sans-serif;
    text-decoration: none;
  }

.num1:hover, .num2:hover{
    background-color: #7a51d0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.num1:active, .num2:active{
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }