html{
    background-color: 	#090011;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

.title{
    position: relative;
    font-size: 45px;
    font-weight: bold;
    top: 10vh;
    left: 38.7vw;
    color: #c0d6e4;
    font-family:"Cascadia Code",sans-serif;
    text-decoration: none;
    text-transform: uppercase;
  }

.num1, .num2{
    height: 3.5rem;
    width: 4.5rem;
    background-color: #ffffff;
    border: none;
    color: #262a2d;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    margin:0.3em;
    font-family:'Cascadia Code',sans-serif;
    font-weight:bold;
    transition: all 0.2s;
}
[type="zero"]{
    height: 3.5rem;
    width: 10rem;
}
[type="clear"]{
    background-color: #d9534f;
}
[type="percentage"]{
    background-color: #f0ad4e;
}
[type="equals"]{
    background-color: #5bc0de;
}
[name="expression"]{
    position: relative;
    top: 1vh;
    height: 3.5rem;
    width: 21.5rem;
    background-color: #c7d3c5;
    border: none;
    color: #262a2d;
    padding: 10px 0px;
    text-align: left;
    padding-left: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    margin:0.3em;
    font-family:sans-serif;
    font-weight:bold;
    transition: all 0.2s;
}
.result{
    position: fixed;
    top: 4.8%;
    left:74%;
    height: 4rem;
    width: 3rem;
    margin:0.3em;
    border-radius:20px;
    text-decoration:none;
    font-size: 20px;
    font-family:sans-serif;
    font-weight:bold;
    color:#000000;
    background-color:#c7d3c5;
    transition: all 0.2s;
    outline: none;
    border: none;
    max-width: calc(100% - 60px); /* adjust this value as needed */
    text-align: right;
    overflow-x: hidden;
    white-space: nowrap;
  }

  
  .column {
    position:absolute;    
    left: 50%;
    top: 50%;
    width: 20%;
    height: 50%;
    position:absolute;
    margin-bottom: 16px;
    padding: 5px 19px;
    box-shadow: 0 1px 28px 0 rgba(236, 227, 227, 0.2);
    margin: 10px;
    text-align: center;
    border-radius:20px;
    transform: translate(-50%, -50%);
  }

  .card{
    position: relative;
    top: 1vh;
  }

  .creator{
    position: relative;
    font-size: 13px;
    font-weight: bold;
    top: -1.5vh;
    left: 0vw;
    color: #c0d6e4;
    font-family:"Cascadia Code",sans-serif;
    text-decoration: none;
  }

.num1:hover, .num2:hover{
    background-color: #7a51d0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.num1:active, .num2:active{
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

@media (max-height:900px){
    html{
        font-size: 12px;
    }

  .title{
      position: relative;
      font-size: 30px;
      font-weight: bold;
      top: 12vh;
      left: 9vw;
    } 
  .column {
      position:absolute;    
      left: 50%;
      top: 50%;
      width: 80%;
      height: 50%;
    }

    h2{
        font-size: 0.8em;
    }
  }
  @media (max-width:1000px){
    html{
        font-size: 12px;
    }

  .title{
      position: relative;
      font-size: 32px;
      font-weight: bold;
      top: 12vh;
      left: 12vw;
    } 
  .column {
      position:absolute;    
      left: 50%;
      top: 40%;
      width: 70%;
      height: 40%;
    }

    h2{
        font-size: 0.8em;
    }
  }